In [1]:
import pandas as pd
import numpy as np
import os
from glob import glob
import matplotlib.pyplot as plt
import matplotlib.dates as mdates

var = 'PRMSL'

In [2]:
# read data
filedir = '/home/ccorbella/scratch2_symboliclink/code/KF_assimilation/dataprep/data'

def prepare_df(var, validation=False):
    val_string = 'validation' if validation else ''
    df = pd.read_csv(f'{filedir}/{var}_obs{val_string}_data.csv')
    df['Date'] = pd.to_datetime(df['Date'])
    df = df[df['Date'] <= '1850-12-31']
    df = df[df['Date'] >= '1806-01-01']
    df.index -= df.index[0] # reset indices
    return df

df_p = prepare_df('PRMSL')
df_ta = prepare_df('TMP2m')
df_ta = df_ta.drop(columns = df_ta.columns[0]) # weird 1st col
df_ta_validation = prepare_df('TMP2m', validation=True)
df_p_validation = prepare_df('PRMSL', validation=True)

df_ta.to_csv(f'{filedir}/TMP2m_obs_data_1806-1850.csv')
df_p.to_csv(f'{filedir}/PRMSL_obs_data_1808-1850.csv')

df_ta = df_ta.set_index('Date')
df_p  = df_p.set_index('Date')
df_ta_validation = df_ta_validation.set_index('Date')
df_p_validation  = df_p_validation.set_index('Date')

In [3]:
preprocess_filedir = '/home/ccorbella/scratch2_symboliclink/files/station_timeseries_preprocessed/'

dfs = {"PRMSL":None, "TMP2m":None}

for file in glob(os.path.join(preprocess_filedir, "*.csv")):
    filename = os.path.basename(file)
    if filename.endswith("PRMSL.csv"):
        var_type = "PRMSL"
    elif filename.endswith("TMP2m.csv"):
        var_type = "TMP2m"
    else:
        continue

    df = pd.read_csv(file, index_col=0)
    df.set_index("Date", inplace=True)

    station_name = filename.replace(f"_{var_type}.csv", "")
    df = df.rename(columns = {var_type: station_name})

    # merge into main df
    if dfs[var_type] is None:
        dfs[var_type] = df
    else:
        dfs[var_type] = dfs[var_type].join(df, how='outer')

In [4]:
# prepare df dict
for key in dfs:
    if dfs[key] is not None:
        dfs[key] = dfs[key].reset_index()
        dfs[key]['Date'] = pd.to_datetime(dfs[key]['Date'])
        dfs[key] = dfs[key][(dfs[key]['Date'] <= '1850-12-31') & (dfs[key]['Date'] >= '1806-01-01')]
        dfs[key] = dfs[key].rename(
            columns={col: col + "_2" for col in dfs[key].columns if col != "Date"}
        ) # to tell them apart later on

In [5]:
dfs['TMP2m']

            Date  Valencia_2  Ylitornio_2  Paris_2  Bologna_2  Padova_2
0     1806-01-01       7.525        -16.0      8.1        NaN       1.9
1     1806-01-02       7.175        -15.0      3.6        NaN       3.1
2     1806-01-03       6.425        -32.0     -0.6        NaN       2.9
3     1806-01-04       5.975        -40.0      3.3        NaN       1.1
4     1806-01-05       5.775        -10.0      7.6        NaN       0.1
...          ...         ...          ...      ...        ...       ...
16433 1850-12-27       6.100          NaN      2.5        1.2       2.9
16434 1850-12-28       6.100          NaN      5.3       -1.0       0.3
16435 1850-12-29         NaN          NaN      5.5        1.8       1.1
16436 1850-12-30         NaN          NaN      8.1        4.7       1.8
16437 1850-12-31         NaN          NaN      9.2        4.2       4.1

[16438 rows x 6 columns]

In [6]:
# modify names for temperature:
df_ta = df_ta.rename(columns={
    'AG01_Aarau_Zschogge': 'Aarau',
    'BE01_Bern_Fueter': 'Bern',
    'BE01_Bern_Studer': 'Bern2',
    'GR04_Marschlins': 'Schloss Marschlins',
    'JU01_Delemont': 'Delemont',
    'SH01_Schaffhausen': 'Schaffhausen',
    'VD01_Vevey': 'Vevey',
    'DigiHom_Geneva': 'Geneva',
    'KNMI-42_Zwanenburg': 'Zwanenburg',
    'KNMI-44_Haarlem': 'Haarlem',
    'KNMI-45_Delfft2': 'Delfft',
    'Europe_Rovereto_1': 'Rovereto',
    'GCOS_Zurich_Feer': 'Zurich',
    'IMPROVE_Cadiz': 'Cadiz',
    'IMPROVE_Stockholm': 'Stockholm',
    'IMPROVE_StPetersburg': 'St. Petersburg',
    'IMPROVE_Uppsala': 'Uppsala',
    'CRU_Paris': 'Paris',
    'Dom_Valencia': 'Valencia',
    'IMPROVE_Milan': 'Milan',
    'HAD_CET': 'CET',
    'Brug_Zitenice': 'Zitenice'
})

df_ta_validation = df_ta_validation.rename(columns={
    '5905_WIEN': 'Wien',
    'BAS_ta': 'Basel',
    'BOL_ta': 'Bologna',
    "Gdansk 'Excel sheet by Rajmund Przybylak": 'Gdansk'
})

df_p_validation = df_p_validation.rename(columns={
    'BAS_p': 'Basel',
    "Gdansk 'Excel sheet by Rajmund Przybylak": 'Gdansk'
})

In [7]:
## join the dataframes from the various sources (1807_stick and station_timeseries_preprocessed)
dfs["TMP2m"] = dfs["TMP2m"].set_index("Date") if "Date" in dfs["TMP2m"].columns else dfs["TMP2m"]
dfs["PRMSL"] = dfs["PRMSL"].set_index("Date") if "Date" in dfs["PRMSL"].columns else dfs["PRMSL"]

df_ta_all = df_ta.join(dfs['TMP2m'], how='outer')
df_p_all  = df_p.join(dfs['PRMSL'], how='outer')

In [8]:
# Function to extract continuous non-NaN segments
def get_segments(df, date_col='Date'):
    segments = []

    # make sure index is 'Date'
    if df.index.name != 'Date':
        raise ValueError("'Date' must be set as the index of dataframe.")
    
    for station in df.columns:
        data = df[[station]].dropna().reset_index()
        if not data.empty:
            # Identify breaks in the sequence
            data['gap'] = data[date_col].diff().dt.days.ne(1).cumsum()
            for _, group in data.groupby('gap'):
                segments.append((station, group['Date'].iloc[0], group['Date'].iloc[-1]))
    return segments

# Get the actual non-NaN segments
segments_ta       = get_segments(df_ta_all)
segments_p        = get_segments(df_p_all)
segments_ta_valid = get_segments(df_ta_validation)
segments_p_valid  = get_segments(df_p_validation)

# unique station names
stations_ta       = set([s[0] for s in segments_ta])
stations_p        = set([s[0] for s in segments_p])
stations_ta_valid = set([s[0] for s in segments_ta_valid])
stations_p_valid  = set([s[0] for s in segments_p_valid])


stations_all = sorted(set(stations_ta | stations_p | stations_ta_valid | stations_p_valid),
                      reverse=True)

In [9]:
offset = 0.4  # Base offset
station_positions = {station: i for i, station in enumerate(stations_all)}

fig, ax = plt.subplots(figsize=(12, len(stations_all) * 0.3))
plt.subplots_adjust(left=0.2, right=0.95, top=0.95, bottom=0.05)  # More space on the left, less on the right, top, and bottom

ax.set_xlim(pd.Timestamp("1806-01-01"), pd.Timestamp("1850-12-31"))

# Plot Pressure Data
for station, start, end in segments_p + segments_p_valid:
    # Shift down if both temperature and pressure exist
    position = station_positions[station] if station not in (stations_ta | stations_ta_valid) else station_positions[station] - offset / 2
    ax.barh(position, width=(end - start).days, left=start,
            color='tab:blue', height=.4, align='center', alpha=0.8)

# Plot Temperature Data
for station, start, end in segments_ta + segments_ta_valid:
    # Shift up if both temperature and pressure exist
    position = station_positions[station] if station not in (stations_p | stations_p_valid) else station_positions[station] + offset / 2
    ax.barh(position, width=(end - start).days, left=start, color='tab:red', height=0.4)

from matplotlib.patches import Patch

legend_elements = [
    Patch(facecolor='tab:red', edgecolor='black', label='Temperature'),
    Patch(facecolor='tab:blue', edgecolor='black', label='Pressure')
]
ax.legend(handles=legend_elements, loc='upper right', ncol=2)

ax.xaxis.set_major_locator(mdates.YearLocator(3))
ax.xaxis.set_major_formatter(mdates.DateFormatter('%Y'))

# Modify y-tick labels
yticks = [station_positions[st] for st in stations_all]
yticklabels = [
    f"$\\bf{{{st}}}$" if "_2" in st else # bold for stations from Stefan
    f"$\\it{{{st}}}$" if st in (stations_ta_valid | stations_p_valid) else # italic for validation
    st # normal otherwise
    for st in stations_all
]

ax.set_yticks(yticks)
ax.set_yticklabels(yticklabels)

ax.set_title("Availability of Daily Temperature and Pressure Data (1806-1850)")
ax.grid(axis='x', linestyle='--', alpha=0.5)

plt.savefig('/home/ccorbella/scratch2_symboliclink/code/KF_assimilation/output/data_availability2_plot.png')
plt.show()